################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/webgentlebookstore
/.gitignore
/.gitignore
/friendsapp
/WebApplication1/.vs/WebApplication1
/WebApplication1/WebApplication1
/WebApplication1/WebApplication1.sln
/Myfriendsgithub/.vs/Myfriendsgithub
/Myfriendsgithub/Myfriendsgithub/obj/Debug/net7.0
/Myfriendsgithub/Myfriendsgithub/obj/Release/net7.0
/Myfriendsgithub/Myfriendsgithub/obj
/Myfriendsgithub/Myfriendsgithub/Properties
/Myfriendsgithub/Myfriendsgithub/Controllers
/Myfriendsgithub/Myfriendsgithub
/WebApplication1/.vs/ProjectEvaluation
/Myfriendsgithub/Myfriendsgithub.sln
